<div class='container'>
	<div class='left'>
		<p><h1>Our products</h1></p>
		<div class='item'>
			<a href="https://squareup.com/market/kubbium/bkubb" class="sq-embed-item">bKubb on Square Market</a>
<script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
		</div>
		<div class='item'>
			<a href="https://squareup.com/market/kubbium/mkubb" class="sq-embed-item">mKubb on Square Market</a>
<script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script></div>
		<div class='item'>
			<a href="https://squareup.com/market/kubbium/replacement-washers" class="sq-embed-item">Replacement Washers on Square Market</a>
		</div>
<script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script></p>
	</div>
	<div class='right'>
		<div class="fb-like-box" data-href="https://www.facebook.com/kubbium" data-width="300" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
	</div>
</div>