<div class='container'>
	<div class='left'>
		<p><h1>Our products</h1></p>
		<div class='item'>
			<a href="https://squareup.com/market/kubbium/bkubb" class="sq-embed-item">bKubb on Square Market</a>
<script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
<p><a href="http://www.amazon.com/Kubbium-bKubb-Kubb-Set/dp/B00KUIEORW/">bKubb on Amazon</a></p>
<p><a href="http://www.ebay.com/itm/bKubb-Kubb-Set-by-Kubbium-/251595426273">bKubb on eBay</a></p>
		</div>
		<div class='item'>
			<a href="https://squareup.com/market/kubbium/mkubb" class="sq-embed-item">mKubb on Square Market</a>
<script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
<p><a href="http://www.ebay.com/itm/mKubb-Kubb-Set-by-Kubbium-/251589686012">mKubb on eBay</a></p>
		</div>
		<div class='item'>
			<a href="https://squareup.com/market/kubbium/replacement-washers" class="sq-embed-item">Replacement Washers on Square Market</a><script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
			<p><a href="http://www.amazon.com/Kubbium-Washer-Toss-Replacement-Washers/dp/B00LNIVF1G/">Washers on Amazon</a></p>
			<p><a href="http://www.ebay.com/itm/Washer-Toss-Replacement-Washers-6-/251589694946">Washers on eBay</a></p>
		</div>
	</div>
	<div class='right'>
		<div class="fb-like-box" data-href="https://www.facebook.com/kubbium" data-width="300" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
	</div>
</div>